/* Videos start */

.videos__wrapper {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
  }
  
  .video__item {
    padding-top: 56.25%;
  }
  
  .video__full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Videos end */