/* Top start */

.top {
    margin-bottom: 9rem;
  }
  
  .top__cards {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .top__card {
    grid-column: span 1;
  }
  
  .top__card-pic {
    position: relative;
    margin-bottom: 2.75rem;
  }
  
  .top__card-info {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 1.5rem;
    justify-content: flex-end;
    background: rgba(21, 24, 36, 0.4);
  }
  
  .top__card-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white-color);
    margin: 0 auto 0 0;
  }
  
  .top__card-likes {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white-color);
    padding-right: 1.25rem;
    background: url(../../img/heart-ico.svg) no-repeat right;
    margin-right: 1rem;
    border: none;
  }
  
  .top__card-comments {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--white-color);
    padding-right: 1.5rem;
    background: url(../../img/comment-ico.svg) no-repeat right;
  }
  
  .top__card-desc {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .top__card-more:hover {
    opacity: 0.75;
  }

  .top__card-img-full {
    height: 150%;
    width: 150%;
    border-radius: 15px;
    background:none;
  }
  
  /* Top end */